<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="APISEARCH_GOD_TOKEN" value="0e4d75ba-c640-44c1-a745-06ee51db4e93" force="true" />
        <env name="APISEARCH_READONLY_TOKEN" value="410806ed-f2c2-8d22-96ea-7fb68026df34" force="true" />
        <env name="APISEARCH_PING_TOKEN" value="6326d504-0a5f-f1ae-7344-8e70b75fcde9" force="true" />

        <env name="APISEARCH_ASYNC_EVENTS_ENABLED" value="0" force="true" />

        <env name="ELASTICSEARCH_HOST" value="127.0.0.1" force="true" />
        <env name="ELASTICSEARCH_REFRESH_ON_WRITE" value="true" force="true" />

        <env name="AMQP_HOST" value="127.0.0.1" force="true" />
        <env name="REDIS_HOST" value="127.0.0.1" force="true" />
        <env name="LOGSTASH_REDIS_HOST" value="127.0.0.1" force="true" />

        <env name="DBAL_DRIVER" value="mysql" force="true" />
        <env name="DBAL_HOST" value="127.0.0.1" force="true" />
        <env name="DBAL_PORT" value="3306" force="true" />
        <env name="DBAL_USER" value="root" force="true" />
        <env name="DBAL_PASSWORD" value="root" force="true" />
        <env name="DBAL_DBNAME" value="apisearch" force="true" />
        <env name="DBAL_TOKENS_TABLE" value="tokens" force="true" />
        <env name="DBAL_INDEX_CONFIGS_TABLE" value="index_config" force="true" />
        <env name="DBAL_USAGE_LINES_TABLE" value="usage_lines" force="true" />
        <env name="DBAL_METADATA_TABLE" value="metadata" force="true" />
        <env name="DBAL_INTERACTIONS_TABLE" value="interactions" force="true" />
        <env name="DBAL_SEARCHES_TABLE" value="search_lines" force="true" />
    </php>

    <testsuites>
        <testsuite name="domain">
            <directory>Tests/</directory>
        </testsuite>

        <testsuite name="plugins">
            <directory>Plugin/</directory>
        </testsuite>

        <testsuite name="local">
            <directory>Tests/</directory>
            <directory>Plugin/</directory>
            <exclude>Plugin/Elasticsearch/Tests/Elasticsearch61Test.php</exclude>
            <exclude>Plugin/Elasticsearch/Tests/Elasticsearch68Test.php</exclude>
            <exclude>Plugin/Elasticsearch/Tests/Elasticsearch70Test.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>