<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         convertDeprecationsToExceptions="false"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="APISEARCH_GOD_TOKEN" value="0e4d75ba-c640-44c1-a745-06ee51db4e93" force="true" />
        <env name="APISEARCH_READONLY_TOKEN" value="410806ed-f2c2-8d22-96ea-7fb68026df34" force="true" />
        <env name="APISEARCH_HEALTH_CHECK_TOKEN" value="77fa21d4-7755-4cfb-bad3-255232391047" force="true" />
        <env name="APISEARCH_PING_TOKEN" value="6326d504-0a5f-f1ae-7344-8e70b75fcde9" force="true" />

        <env name="ELASTICSEARCH_HOST" value="127.0.0.1" force="true" />
        <env name="ELASTICSEARCH_REFRESH_ON_WRITE" value="true" force="true" />

        <env name="REDIS_HOST" value="127.0.0.1" force="true" />
        <env name="AMQP_HOST" value="127.0.0.1" force="true" />
        <env name="LOGSTASH_REDIS_HOST" value="127.0.0.1" force="true" />

        <env name="DBAL_DRIVER" value="sqlite" force="true" />
        <env name="DBAL_HOST" value=" " force="true" />
        <env name="DBAL_PORT" value=" " force="true" />
        <env name="DBAL_USER" value="root" force="true" />
        <env name="DBAL_PASSWORD" value="root" force="true" />
        <env name="DBAL_DBNAME" value="/tmp/apisearch.dbal.test" force="true" />
        <env name="DBAL_TOKENS_TABLE" value="tokens" force="true" />
        <env name="DBAL_INDEX_CONFIGS_TABLE" value="index_config" force="true" />
        <env name="DBAL_USAGE_LINES_TABLE" value="usage_lines" force="true" />
        <env name="DBAL_METADATA_TABLE" value="metadata" force="true" />
        <env name="DBAL_INTERACTIONS_TABLE" value="interactions" force="true" />
        <env name="DBAL_SEARCHES_TABLE" value="search_lines" force="true" />
        <env name="DBAL_LOGS_TABLE" value="logs" force="true" />
        <env name="DBAL_PURCHASES_TABLE" value="purchase" force="true" />
        <env name="DBAL_PURCHASE_ITEMS_TABLE" value="purchase_item" force="true" />
        <env name="DBAL_ENCRYPT_ENABLED" value="1" force="true" />
        <env name="DBAL_ENCRYPT_PRIVATE_KEY" value="fd9f89d7f89ds78f9sd" force="true" />
        <env name="DBAL_ENCRYPT_METHOD" value="aes128" force="true" />
        <env name="DBAL_ENCRYPT_IV" value="0123456789012345" force="true" />

        <env name="DRIFT_CACHE_ENABLED" value="1" force="true" />
    </php>

    <testsuites>
        <testsuite name="without-infrastructure">
            <directory>Tests/</directory>
            <directory>Plugin/</directory>
            <exclude>Tests/Functional/Infrastructure</exclude>
            <exclude>Plugin/Elasticsearch/</exclude>
            <exclude>Plugin/Campaign/</exclude>
            <exclude>Plugin/Logstash</exclude>
            <exclude>Plugin/Security</exclude>
            <exclude>Plugin/SearchesMachine</exclude>
        </testsuite>

        <testsuite name="with-infrastructure">
            <directory>Tests/Functional/Infrastructure</directory>
            <directory>Plugin/Elasticsearch/</directory>
            <directory>Plugin/Campaign/</directory>
            <directory>Plugin/Logstash</directory>
            <directory>Plugin/Security</directory>
            <directory>Plugin/SearchesMachine</directory>
        </testsuite>
    </testsuites>
</phpunit>
